@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Henny+Penny&family=Irish+Grover&family=Nosifer&family=Press+Start+2P&family=Reggae+One&family=Shojumaru&family=Trade+Winds&display=swap");

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  background-image: linear-gradient(288deg, #646C79 0%, #1F3044 100%);
  width: 500px;
  height: 700px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  box-shadow: 0px 0px 20px #1F3044;
  border: 2px solid rgba(255, 255, 255, 0.477);
}
.winicon {
  width: 220px;
  height: 220px;
  margin-top: 15px;
  object-fit: cover;
}

.usericon {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  object-fit: cover;
}

.circleicon {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 32.2%;
  top: -2%;
}

.gameover {
  position: absolute;
  top: -2%;
  font-family: "Press Start 2P", cursive;
  font-size: 130px;
  font-weight: bolder;
}

.Pgame {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 150px;
  font-weight: 700;
  color: #646C79;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.spanover {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 150px;
  font-weight: 700;
  color: #1f3044ba;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);

}

/* font-family: 'Fontdiner Swanky', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Irish Grover', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Reggae One', cursive;
font-family: 'Shojumaru', cursive;
font-family: 'Trade Winds', cursive; */

.allimg {
  width: 100%;
  text-align: center;
  position: relative;
}
.twolastP {
  text-align: center;
}
.child1 {
  display: flex;
  flex-direction: column;
}
.row1 {
  display: flex;
  flex-direction: column;
}
.divwin {
  text-align: center;
}
.Congra {
  color: rgba(255, 255, 255, 0.679);
  font-size: 17px;
  font-family: monospace;
  font-weight: bolder;
  text-align: center;
}
.scor {
  color: rgba(255, 255, 255, 0.679);
  font-family: monospace;
  font-weight: bolder;
  font-size: 18px;
}
.youwin {
  color: #fb9039;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  font-weight: bolder;
}

.btn{
  background-image: linear-gradient(280deg, rgba(0, 0, 0, 0.689) 0%, #646c799c 100%);
  width: 35%;
  height: 43px;
  color: rgba(255, 255, 255, 0.664);
  letter-spacing: 2px;
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
  margin-left: 32%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px #1F3044;
}
.btn:hover{
  color: #fb9039;
  background-color: black;
}

@media screen and (max-width:1202px)
{
  .gameover{
    font-size: 100px;
  }
  .row{
    width: 450px;
    height: 650px;
  }
  .winicon{
    width: 200px;
    height: 200px;
  }
  .usericon{
    width: 125px;
    height: 125px;
  }
  .circleicon {
    width: 140px;
    height: 140px;
    left: 30.1%;
    top: -4%;
  }
  .youwin{
    font-size: 50px;
  }
}

@media screen and (max-width: 1012px)
{
  .Pgame{
    font-size: 110px;
  }
  .spanover{
    font-size: 110px;
  }
}

@media screen and (max-width: 910px)
{
  .gameover{
    font-size: 80px;
  }
}
@media screen and (max-width: 800px)
{
  .Pgame{
    font-size: 80px;
  }
  .spanover{
    font-size: 80px;
  }
}
@media screen and (max-width: 722px){
  .gameover{
    font-size: 50px;
  }
  .row{
    width: 400px;
    height: 570px;
  }
  .winicon{
    width: 160px;
    height: 160px;
  }
  .usericon{
    width: 115px;
    height: 115px;
  }
  .circleicon {
    width: 130px;
    height: 130px;
    left: 24%;
    top: -4%;
  }
  .youwin{
    font-size: 35px;
    margin-top: 25px;
  }
  .btn{
    margin-bottom: 10px;
    color: #c1a100;
  }
  .btn:hover{
    background-color: black;
  }
}
@media screen and (max-width: 554px)
{
  .Pgame{
    font-size: 60px;
  }
  .spanover{
    font-size: 60px;
  }
}
@media screen and (max-width: 455px){
  .gameover{
    display: none;
  }
  .row{
    width: 330px;
    height: 500px;
    margin-top: -250px;
  }
  .winicon{
    width: 140px;
    height: 140px;
  }
  .usericon{
    width: 115px;
    height: 115px;
  }
  .circleicon {
    width: 130px;
    height: 130px;
    left: 20%;
    top: -2.5%;
  }
  .youwin{
    font-size: 30px;
    margin-top: 20px;
    height: 20px;
  }
  .Congra{
    font-size: 15px;
  }
  .scor{
    font-size: 15px;
  }
}
@media screen and (max-width: 320px){
  .gameover{
    display: none;
  }
  .row{
    width: 300px;
    height: 500px;
    margin-top: -300px;
  }
}
@media screen and (max-width: 280px)
{
  .row{
    width: 270px;
    height: 485px;
    margin-top: -240px;
  }
}